.popupContainer{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0, 0.5);
    .insideContainer{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        background-color: #979797;
        p{
            font-size: x-large;
            color: rgb(255, 255, 255);
        }
    }
}

.toogleButton{
    button{
        border-radius: 10px;
        border: none;
        padding: 0.3rem 0.5rem;
        background-color: #221f82;
        color: #fff;
    }
}