.main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    .grid{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(19, 1fr);
        grid-template-rows: repeat(19, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem 3rem;
            border-radius: 10px;
            color: white;
        }
        .square1{
            background-color: #37355c;
            grid-column: 2 / 15;
            grid-row: 4 / 12;
        }
        .square2{
            background-color: #211f53;
            grid-column: 15 / 19;
            grid-row: 4 / 25;
        }
        .square3{
            background-color: #211f53;
            grid-column: 2 / 10;
            grid-row: 12 / 25;
        }
        .square4{
            background-color: #211f53;
            grid-column: 10 / 15;
            grid-row: 12 / 25;
        }
    }
}
.insideContainer{
    background-color: #211f53;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}