.main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 120px);
    .grid{
        display: grid;
        width: 100%;
        height: calc(100vh - 10px);
        grid-template-columns: repeat(19, 1fr);
        grid-template-rows: repeat(19, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            color: white;
        }
        .mapa{
            background-color: #37355c;
            grid-column: 2 / 15;
            grid-row: 4 / 12;
        }
        .alertas{
            background-color: #211f53;
            grid-column: 15 / 19;
            grid-row: 4 / 19;
        }
        .grafico{
            background-color: #211f53;
            grid-column: 2 / 10;
            grid-row: 12 / 19;
        }
        .porcentajes{
            background-color: #211f53;
            grid-column: 10 / 15;
            grid-row: 12 / 19;
        }
    }
}
.insideContainer{
    background-color: #211f53;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .graphContainer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}